// Main Logo
.header {
  padding: $base-spacing-unit 0;
}

.header__logo {
  font-size: 2rem;
  text-decoration: none;
  color: $base-color;
  display: inline-block;
  vertical-align: middle;
  transition: .3s;
  margin-right: 1.3rem;

  &:hover {
    color: $color-accent;
  }
}
