// Main Navigation
.menu {
  display: inline-block;
  vertical-align: middle;

  li {
    display: inline-block;
    vertical-align: middle;

    a {
      margin-right: 1.3rem;
      text-decoration: none;
      font-size: 14px;
      margin-top: 9px;
      display: block;
      color: darken($base-color, 10%);
      transition: .3s;
      border-bottom: 1px solid transparent;

      &:hover {
        color: $base-color;
        border-color: $base-color;
      }
    }
  }
}